<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{ 
        int widthLogoNav = 60;
    }
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <img style="width: @(widthLogoNav)px;" src="~/Content/ImgProgetto/poliziaMunicipale.png" />
            @Html.ActionLink("Polizia Municipale", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Anagrafica", "Index", "Trasgressori", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Violazioni", "Index", "Violazioni", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Verbali", "Index", "Verbale", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Registro Verbali", "TotVerbaliTrasgressori", "Verbale", new { area = "" }, new { @class = "nav-link" })</li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Portale Online Polizia Municipale</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
