@model IEnumerable<MVCPoliziaMunicipale.Models.Violazioni>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Inserisci Violazione", "Create", "Violazioni", new {@class= "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdViolazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescrizioneViolazione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdViolazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescrizioneViolazione)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
